<section id="editor-container">

  <section id="editor">

    {{view Papier.EditorSelectionMenuView}}

    <div id="editor-body" contenteditable="true">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis ipsum ut purus elementum 
        tempor at ac lorem. Curabitur at lorem eu mi porta scelerisque. Aliquam egestas lorem eget justo 
        eleifend sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac  
        egestas. Nunc tristique, eros ut euismod imperdiet, lorem nisi dapibus sapien, ac varius orci 
        nulla commodo orci. In urna sapien, tincidunt vel viverra id, venenatis nec arcu. Sed varius 
        rhoncus est, non hendrerit sem suscipit quis. Etiam semper tincidunt tellus ut aliquam. Ut ac 
        dui orci. Etiam cursus elit ut arcu semper vel scelerisque augue blandit. Lorem ipsum dolor sit 
        amet, consectetur adipiscing elit. Pellentesque eget orci orci. Integer congue bibendum tempus.
      </p>
      
      <p>
        Etiam sodales urna aliquet ligula vulputate lobortis. Fusce blandit, felis nec eleifend laoreet, 
        est justo ultrices elit, eu suscipit erat justo a massa. Cras placerat varius pellentesque. Proin 
        sit amet ultrices lorem. Mauris convallis lobortis ante et gravida. Nam viverra ante sollicitudin 
        diam tincidunt blandit. Proin vel dui nisi, vitae aliquet metus. Etiam enim mi, ornare et pulvinar 
        nec, hendrerit ac risus. Nunc pretium felis id arcu tincidunt rhoncus lobortis tortor porta. 
        Aliquam pulvinar odio nec est tristique feugiat. Pellentesque consequat nisi ac libero scelerisque 
        auctor. Pellentesque placerat fermentum lectus, sit amet posuere purus blandit et. Fusce et orci 
        et ligula consectetur pulvinar. Nullam fermentum lectus ac orci tempus venenatis dignissim neque 
        dapibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>

      <p>
        Curabitur fermentum laoreet justo, ut sagittis ipsum feugiat vitae. Vestibulum at tellus tellus, 
        quis semper urna. Curabitur ornare, erat nec congue dictum, eros odio blandit risus, et fermentum 
        mi sapien eu purus. Etiam scelerisque bibendum commodo. Integer aliquet, diam eleifend sagittis 
        sodales, urna elit eleifend ipsum, id scelerisque orci elit nec felis. Aenean tincidunt sem 
        interdum odio adipiscing eget porttitor nisi pulvinar. Suspendisse potenti. Cras et arcu tellus, 
        vitae auctor erat. Etiam lacus risus, gravida nec imperdiet a, pulvinar non leo. Nam imperdiet, 
        nunc eget ultrices condimentum, nibh orci fermentum ligula, eu hendrerit leo arcu id velit. 
        Quisque sagittis, libero sed porttitor condimentum, sem purus rutrum mi, id bibendum lorem libero 
        id augue.
      </p>

      <p>
        Fusce rutrum ullamcorper lorem at malesuada. Vivamus fermentum ante et tellus ultrices vulputate. 
        Nullam congue nulla eu enim accumsan molestie. Etiam vel lacinia turpis. Morbi nec arcu sapien, 
        quis hendrerit tellus. Duis a enim vel nisl lobortis suscipit ut in massa. Cras et diam in nibh 
        fringilla suscipit sed ut massa. Proin dolor elit, tempor et cursus a, ullamcorper ac augue.
      </p>

      <p>
        Quisque orci lorem, egestas sit amet ultricies ut, luctus id felis. Sed lobortis pretium magna, ut 
        tincidunt ipsum tempus ac. Ut diam sem, aliquet id bibendum eget, ultrices sed purus. Fusce vitae 
        turpis elit. Mauris in magna id tellus molestie consectetur. In ut velit a neque cursus tincidunt 
        sed ut eros. In hac habitasse platea dictumst. Etiam volutpat arcu vel elit aliquam porta.
      </p>
    </div>

    <a class="highlight" {{action "launchWelcome"}}>welcome</a>

  </section>

</section>
