<section id="editor-container">

  <section id="editor">

    {{view Papier.EditorSelectionMenuView}}

    {{view Papier.EditorBodyView}}

    <a class="highlight" {{action "launchWelcome"}}>welcome</a>

  </section>

</section>
