<section id="editor-container">

  <section id="editor">

    <div>menu</div>

    {{view Papier.EditorBodyView}}

    <a class="highlight" {{action "launchWelcome"}}>welcome</a>

  </section>

</section>
