
<section id="welcome">
  <section class="tophat">
    <div class="tophat-colors">
      <div class="color-1"></div>
      <div class="color-2"></div>
      <div class="color-3"></div>
      <div class="color-4"></div>
      <div class="color-5"></div>
    </div>
    <header class="information layout-centered">
      <h1>papier</h1>
      <nav>
        <a>an introduction</a>
        <a class="highlight" {{action "launchEditor" on="click"}}>
          see for yourself
          <span class="icon-pen"></span>
        </a>
      </nav>
    </header>
    <div class="decoration">
      <div class="photo">
        <img src="/assets/img/main-blanche-fleur.jpg" alt="">
        <div class="layout-centered">
          <div class="papier-is-easy">the easiest way to write on the web. </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main layout-centered">
    <section class="introduction lemme-introduce-myself">
      <section class="silly-story">
        <img src="/assets/img/the-silly-story-begins.png" alt="T" class="the-silly-story-begins">
        <div class="t-bounds">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
          <div class="four"></div>
        </div>
        <p>
          here once was a young boy, who as his age befit would imagine himself as something other 
          than he was. His self-portraits hung abourd great ships, atop castle-adorned towers, in 
          the depths of tight ocean trenches, the furthest reaches of outer space, and in the jaws 
          of hungry beasts. He warded against thieves, underlords, sea monsters, asteroid fields, 
          and all variety of ne'er-do-gooder. It was the boy's world, and he would do anything to 
          protect it.
        </p>
        <p>
          Years passed. Outsiders beckoned louder for the boy's distraction, themselves bored of 
          their little worlds.
        </p>
        <p>
          "Nothing is stronger than imagination," thought the boy.
        </p>
        <p>
          But we are familiar with how this story goes. Outsiders beckoned for the boy's 
          attention. The boy would return with less frequency over the years. It wasn't long before 
          he stopped bothering altogether. All was dormant under the weight of his absence.
        </p>
      </section>
    </section>
  </section>
</section>
