
@mixin FellGreatPrimer {
  
  @font-face {
      font-family: 'FellGreatPrimerRegular';
      src: url('/assets/css/fonts/imfegprm29p-webfont.eot');
      src: url('/assets/css/fonts/imfegprm29p-webfont.eot?#iefix') format('embedded-opentype'),
           url('/assets/css/fonts/imfegprm29p-webfont.woff') format('woff'),
           url('/assets/css/fonts/imfegprm29p-webfont.ttf') format('truetype'),
           url('/assets/css/fonts/imfegprm29p-webfont.svg#IMFELLGreatPrimerRegular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
    font-family: 'FellGreatPrimerItalic';
    src: url('/assets/css/fonts/imfegpit29p-webfont.eot');
    src: url('/assets/css/fonts/imfegpit29p-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/css/fonts/imfegpit29p-webfont.woff') format('woff'),
         url('/assets/css/fonts/imfegpit29p-webfont.ttf') format('truetype'),
         url('/assets/css/fonts/imfegpit29p-webfont.svg#IMFELLGreatPrimerItalic') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
      font-family: 'FellGreatPrimerSCRegular';
      src: url('/assets/css/fonts/imfegpsc29p-webfont.eot');
      src: url('/assets/css/fonts/imfegpsc29p-webfont.eot?#iefix') format('embedded-opentype'),
           url('/assets/css/fonts/imfegpsc29p-webfont.woff') format('woff'),
           url('/assets/css/fonts/imfegpsc29p-webfont.ttf') format('truetype'),
           url('/assets/css/fonts/imfegpsc29p-webfont.svg#IMFELLGreatPrimerSCRegular') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  
}
