
@import 'compass/css3';
@import 'modules/html5boilerplate';
@import 'modules/bourbon/bourbon';

@include font-face('FellGreatPrimerRegular', font-files('/assets/fonts/imfegprm29p-webfont.eot', '/assets/fonts/imfegprm29p-webfont.eot?#iefix', '/assets/fonts/imfegprm29p-webfont.woff', '/assets/fonts/imfegprm29p-webfont.ttf', '/assets/css/fonts/imfegprm29p-webfont.svg#IMFELLGreatPrimerRegular'));

@mixin FellGreatPrimer {
  font-family: 'FellGreatPrimerRegular', Georgia, serif;
}

@import 'partials/layouts';
@import 'partials/ie';
@import 'partials/editor';
@import 'partials/welcome';

// html { overflow: hidden; }

body {
  background: #F4F2F0;
  font-family: Georgia, serif;
  color: #2B2124;
}

a {
  color: #93737A;
  border-bottom: 1px dashed #C1B6B9;
  cursor: pointer;
  &:hover {
    color: #83555E;
    border-bottom: 1px solid #C1B6B9;
  }
}
