
@import 'compass/css3';
@import 'modules/html5boilerplate';
@import 'modules/bourbon/bourbon';

@include font-face('FellGreatPrimerRegular', font-files('/assets/fonts/imfegprm29p-webfont.eot', '/assets/fonts/imfegprm29p-webfont.eot?#iefix', '/assets/fonts/imfegprm29p-webfont.woff', '/assets/fonts/imfegprm29p-webfont.ttf', '/assets/css/fonts/imfegprm29p-webfont.svg#IMFELLGreatPrimerRegular'));

@import 'partials/ie';
@import 'partials/tophat';

body {
  background: #f4f2ed;
  font-family: Georgia, serif;
  color: #2B2124;
}

section.main {
  text-align: center;
  position: relative;
  header.logo {
    font-family: 'FellGreatPrimerRegular', Georgia, serif;
    font-size: 7em;
    margin: 150px auto 0;
    width: 360px;
    h1, h2 {
      font-weight: normal;
      text-align: left;
      line-height: 0.8em;
      margin: 0;
      padding: 0;
    }
    h1 {
      font-size: 1em;
      text-shadow: 1px 1px 0 #C9C4B1;
    }
    h2 {
      font-size: 0.35em;
      margin: 0 0 0 0.1em;
    }
  }
}
