{% extends 'layout.jinja' %}

{% block title %}etherous{% endblock %}

{% block content %}

  <div class="tophat decoration">
    <div class="tophat-colors">
      <div class="color-1"></div>
      <div class="color-2"></div>
      <div class="color-3"></div>
      <div class="color-4"></div>
      <div class="color-5"></div>
    </div>
    <div id="tophat-animation" class="tophat-animation">
      <img src="/assets/img/tophat-anim/cloud1.png" class="cloud-1" alt="">
      <img src="/assets/img/tophat-anim/cloud2.png" class="cloud-2" alt="">
      <img src="/assets/img/tophat-anim/cloud3.png" class="cloud-3" alt="">
      <img src="/assets/img/tophat-anim/twine1.png" class="twine-1" alt="">
      <img src="/assets/img/tophat-anim/soleil.png" class="soleil" alt="">
    </div>
  </div>

  <section class="main layout-centered">
    <section class="layout-inner">
        
      <section class="logo">
        <header>
          <h1>etherous</h1>
          <h2>for your type</h2>
        </header>
      </section>

      <section class="introduction lemme-introduce-myself">
        <p class="etherous-is-easy">
          etherous is the <a>easiest</a> way to write on the web.
        </p>
        <section class="silly-story">
          <p>
            <img src="/assets/img/the-silly-story-begins.png" alt="T" class="the-silly-story-begins">here once was a young boy. Let's call him you.
          </p>
        </section>
      </section>

    </section>
  </section>

{% endblock %}
