{% extends 'layout.jinja' %}

{% block title %}etherous{% endblock %}

{% block content %}

  <section class="tophat">
    <header class="information layout-centered">
      <h1>etherous</h1>
      <nav>
        <a href="#introduction">an introduction</a>
        <a href="#about" class="highlight">
          see for yourself
          <span class="icon-pen"></span>
        </a>
      </nav>
    </header>
    <div class="decoration">
      <div class="photo">
        <img src="/assets/img/main-blanche-fleur.jpg" alt="">
        <div class="layout-centered">
          <div class="etherous-is-easy">the easiest way to write on the web. </div>
        </div>
      </div>
      <div class="tophat-colors">
        <div class="color-1"></div>
        <div class="color-2"></div>
        <div class="color-3"></div>
        <div class="color-4"></div>
        <div class="color-5"></div>
      </div>
    </div>
  </section>

  <section class="main layout-centered">

    <section class="introduction lemme-introduce-myself">
      <section class="silly-story">
        <p>
          <img src="/assets/img/the-silly-story-begins.png" alt="T" class="the-silly-story-begins">here once was a young boy. Let's call him you.
        </p>
      </section>
    </section>

  </section>

{% endblock %}
