
// base
$on-eggshells: #F5F3EE;
$near-white: #F4F2F0;

// primaries
$chopstick: #F1E8B3;
$spanish-moss: #B2BB91;
$yellow-magnolia: #D7BF5D;
$butterscotch: #D16344;
$ohio-buckeye: #83565F;

// key
$chianti: #2B2124;
