
@keyframes cloud-1-anim {
  from {
    left: 0;
  }
  to {
    left: 200px;
  }
}
@-moz-keyframes cloud-1-anim {
  from {
    left: 0;
  }
  to {
    left: 200px;
  }
}
@-webkit-keyframes cloud-1-anim {
  0% {
    top: 15px;
    right: 90%;
  }
  90% {
    top: 5px;
    right: -200px;
  }
  95% {
    top: -200px;
    right: 100%;
  }
  100% {
    top: 0;
    right: 100%;
  }
}

@-webkit-keyframes soleil-anim {
  0% {
    @include transform(rotateY(10deg));
  }
  50% {
    @include transform(rotateZ(-20deg) rotateY(40deg));
  }
  100% {
    @include transform(rotateY(10deg));
  }
}

.tophat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .tophat-colors {
    div {
      float: left;
      height: 10px;
      width: 20%;
    }
    .color-1 { background: #F1E8B4; }
    .color-2 { background: #B2BB91; }
    .color-3 { background: #D7BF5E; }
    .color-4 { background: #D16344; }
    .color-5 { background: #83555E; }
  }
  .tophat-animation {
    width: 100%;
    height: 210px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      &.cloud-1 {
        @include animation(cloud-1-anim 20s ease-in-out 0 infinite normal);
      }
      &.cloud-2 {}
      &.cloud-3 {}
      &.soleil {
        width: 272px;
        height: 265px;
        top: 0;
        right: 15px;
        @include animation(soleil-anim 20s ease-in-out 0 infinite normal);
      }
    }
  }
}
