
<section id="welcome">
  <section class="tophat">
    <div class="tophat-colors">
      <div class="color-1"></div>
      <div class="color-2"></div>
      <div class="color-3"></div>
      <div class="color-4"></div>
      <div class="color-5"></div>
    </div>
    <header class="information layout-centered">
      <h1>etherous</h1>
      <nav>
        <a href="#introduction">an introduction</a>
        <a href="#about" class="highlight">
          see for yourself
          <span class="icon-pen"></span>
        </a>
      </nav>
    </header>
    <div class="decoration">
      <div class="photo">
        <img src="/assets/img/main-blanche-fleur.jpg" alt="">
        <div class="layout-centered">
          <div class="etherous-is-easy">the easiest way to write on the web. </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main layout-centered">
    <section class="introduction lemme-introduce-myself">
      <section class="silly-story">
        <img src="/assets/img/the-silly-story-begins.png" alt="T" class="the-silly-story-begins">
        <div class="t-bounds">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
          <div class="four"></div>
        </div>
        <p>
          here once was a young boy, who as his age befit would imagine himself as something other 
          than he was. His self-portraits hung abourd great ships, atop castle-adorned towers, in 
          the depths of tight ocean trenches, the furthest reaches of outer space, and in the jaws 
          of hungry beasts. He warded against thieves, underlords, sea monsters, asteroid fields, 
          and all variety of ne'er-do-gooder. It was the boy's world, and he would do anything to 
          protect it.
        </p>
        <p>
          Years passed. Enemies of the boy's realm grew stronger and beckoned louder for his 
          distraction, only to be met with stronger conviction.
        </p>
        <p>
          "Nothing is stronger than imagination," thought the boy.
        </p>
        <p>
          But as you may know, insufferable sands will ignore all bastions. The boy sought 
          the source of his world's defiance, and made haste away from his world. To stop the great 
          menace, and return triumphant to an imagined world free in its pursuit of peace and joy.
        </p>
        <p>
          But we are familiar with how this story goes. The boy's world fell dormant under the 
          weight of his absence.
        </p>
      </section>
    </section>
  </section>
</section>
