
// TODO: finalize this
::selection { background: #D7BF5E; color: $chianti; text-shadow: none; }

body {
  background: $on-eggshells;
  font-family: Georgia, serif;
  color: $chianti;
}

// TODO: fix these colors, for clearly they aren't standard

a {
  color: #93737A;
  border-bottom: 1px dashed #C1B6B9;
  cursor: pointer;
  &:hover {
    color: #83555E;
    border-bottom: 1px solid #C1B6B9;
  }
}

._jq-pushDown-mover {
  @include box-shadow(0 0 40px #C1B6B9);
}
