.view-editor {
}

#editor-container {
  background: url('/assets/img/editor-bg-linen.jpg') top left repeat #F4F2F0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
}

#editor {
  width: 950px;
  height: 100%;
  margin: 0 auto;
  outline: none;
  text-align: left;

  @include FellGreatPrimer;
  font-size: 18px;
  line-height: 1.8em;

  #editor-selection-menu {
    position: absolute;
    display: none;
    background: white;
    margin: 1em 0 0;
    padding: 2px 6px;
    box-shadow: 5px 5px 15px #ccc;
    border-radius: 0 15px 15px 15px;
    a {
      border: none;
    }
  }

  ._js-selection-reference {
    position: relative;

    menu {
      position: absolute;
      top: 4px;
      left: 0;
      background: red;
      width: 20px;
      height: 20px;
    }
  }
}

#editor-body {
  &:focus {
    outline: none;
  }
}