.view-editor {
}

#editor-container {
  background: $on-eggshells;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
}

#editor {
  width: 950px;
  height: 100%;
  margin: 0 auto;
  outline: none;
  text-align: left;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1.75em;

  #editor-selection-menu {
    position: absolute;
    display: none;
    // background: url('/assets/img/editor-bg-linen.jpg') top left repeat #F4F2F0;
    background: white;
    margin: 1em 0 0;
    padding: 2px 6px;
    box-shadow: 5px 5px 15px #ccc;
    border-radius: 0 15px 15px 15px;
    z-index: 130;
    a {
      border: none;
    }
  }

  #editor-body {
    margin: 60px 0;
    position: relative;
    z-index: 120;

    .de-emphasized {
      color: #BBB1B4;
    }
  }

  ._js-selection-reference {
    position: relative;
  }
}

#editor-body {
  &:focus {
    outline: none;
  }
}