.view-editor {
  position: relative;
  z-index: 100;
}

#editor {
  background: url('/assets/img/editor-bg-linen.jpg') top left repeat #F4F2F0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
